{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# This template checks for 'ea' variable existence because it can
   be used in a EasyAdmin Dashboard controller, where 'ea' is defined
   or from any other Symfony controller, where 'ea' is not defined #}
{% extends ea is defined ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}
{% trans_default_domain ea is defined ? ea.i18n.translationDomain : (translation_domain is defined ? translation_domain ?? 'messages') %}
{% trans_default_domain 'messages' %}

{% block body_class 'page-login' %}
{% block page_title %}{{ page_title is defined ? page_title|trans : (ea is defined ? ea.dashboardTitle|raw : '') }}{% endblock %}

{% block head_favicon %}
    {% if favicon_path|default(false) %}
        <link rel="shortcut icon" href="{{ favicon_path }}">
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block wrapper_wrapper %}
    {% set page_title = block('page_title') %}

    {% include '@EasyAdmin/flash_messages.html.twig' %}

    <div class="login-wrapper">
        <header class="main-header">
            <div id="header-logo">
                {% block header_logo %}
                    {% if page_title %}
                        {% if ea is defined %}
                            <a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
                                {{ page_title|raw }}
                            </a>
                        {% else %}
                            <div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
                                {{ page_title|raw }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endblock header_logo %}
            </div>
        </header>

        <section class="content">

            {% if error|default(false) %}
                <div class="w-100 alert alert-danger rounded mb-3">
                    {{ form_errors(registrationForm) }}
                </div>
            {% endif %}

            {{ form_start(registrationForm) }}
                {% if csrf_token_intention|default(false) %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token(csrf_token_intention) }}">
                {% endif %}

            <div class="form-group">
                {{ form_label(registrationForm.name, null, {'label_attr': {'class': 'form-control-label'}}) }}
                <div class="form-widget">
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>

                <div class="form-group">
                    {{ form_label(registrationForm.mail, null, {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="form-widget">
                        {{ form_widget(registrationForm.mail, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(registrationForm.plainPassword, 'Choose password', {'label_attr': {'class': 'form-control-label'}}) }}
                    <div class="form-widget">
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-check-label" for="remember_me">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                    </label>
                    {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">{{ 'registration.page.btn.register'|trans }}</button>
                </div>

            {{ form_end(registrationForm) }}

        </section>
    </div>
{% endblock %}
